@using CSI402.ViewModels
@model List<ProjectUserViewModel>

@{
    ViewData["Title"] = "User List";
    Layout = "_ProjectLayout";
}

<div class="container mt-4">
    <h4 class="text-center">User List</h4>
    <table class="table table-bordered mt-3">
        <thead class="table-dark">
            <tr>
                <th>Name</th>
                <th>Lastname</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model)
            {
                <tr>
                    <td>@user.Name</td>
                    <td>@user.Lastname</td>
                    <td>@user.Email</td>
                    <td>@user.PhoneNumber</td>
                    <td>
                        <button class="btn btn-warning btn-sm">Edit</button>
                        <button class="btn btn-danger btn-sm">Delete</button>
                    </td>
                    
                </tr>
            }
        </tbody>
    </table>
</div>