@{
    Layout = "_Layout";
}
@model CSI402.ViewModels.Lab9User

<form asp-for="Lab9" asp-asp-controller="Home">
    UserId <input type="text" class="form-control" asp-for="UserId" />
    <br>
    Password <input type="password" class="form-control" asp-for="Password" />
    <br>
    Name <input type="text" class="form-control" asp-for="Name" />
    <br>
    Lastname <input type="text" class="form-control" asp-for="Lastname" />
    <br>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>